.profile-image__wrapper {
    padding: 100px;
  }
  
  .profile-image__image-cover {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 20px;
  
    object-fit: cover;
    object-position: center right;
  }